		@import url('https://fonts.googleapis.com/css?family=Roboto');
		body{
			font-family: Roboto;
		}
		img{    padding: 2px;
    			border: 2px solid blue;
    			margin: 20px;
    			height: 20px;
    		}
    	img#banner.full-width{
    		display: block;
    	}	
    	img.pic.full-width{
    			border: 2px solid red;
    			margin: 10px;
    			height: 50px;
    	}